In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

%matplotlib inline
#mpl.rcParams.update(mpl.rcParamsDefault)
%config InlineBackend.figure_format = 'retina'

#plt.style.use("seaborn-white")
print(plt.style.available)

#import matplotlib as mpl
#mpl.rcParams['figure.dpi'] = 80
#mpl.rcParams['figure.dpi'] = 300

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']

In [3]:
!pwd

/Users/pengl7/Downloads/WGS/compare-variants

In [24]:
%ls -lth

total 1092864
-rw-r--r--  1 pengl7  NIH\Domain Users    18K Sep  1 15:07 compare variants-caluclate qual.ipynb
-rw-r-----  1 pengl7  NIH\Domain Users    36M Sep  1 15:00 Jax_KOLF2-ARID2-A2_bcfc1_qaul
-rw-r-----  1 pengl7  NIH\Domain Users    34M Sep  1 14:59 UNHS_GT19-38445_bcfc1_qaul
-rw-r-----  1 pengl7  NIH\Domain Users    38M Sep  1 14:48 long_psomagen_KOLF2.1_variants_qual
-rw-r-----  1 pengl7  NIH\Domain Users    37M Sep  1 14:48 long_Jax_KOLF2C1_variants_qual
-rw-r--r--  1 pengl7  NIH\Domain Users   453K Sep  1 13:29 compare variants.ipynb
-rw-r--r--  1 pengl7  NIH\Domain Users    14K Sep  1 13:29 KOLF2.1_2.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    14K Sep  1 13:29 KOLF2.1_2.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    14K Sep  1 13:24 Psomagen_KOLF2.1.png
-rw-r--r--  1 pengl7  NIH\Domain Users    12K Sep  1 13:24 Psomagen_KOLF2.1.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    16K Aug 31 17:01 KOLF2.1-C1-2.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    13K Aug 31 17:01 KOLF2.1-C1-2.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    15K Aug 31 16:59 Jax_2.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    12K Aug 31 16:59 Jax_2.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    79K Aug 31 16:57 long.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    13K Aug 31 16:57 long.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    82K Aug 31 16:57 short_long_KOLF2.1.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    13K Aug 31 16:57 short_long_KOLF2.1.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    21K Aug 31 16:37 3_kolf2.1.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    14K Aug 31 16:37 3_kolf2.1.pdf
-rw-r--r--  1 pengl7  NIH\Domain Users    83K Aug 31 16:25 two_short_KOLF2.1.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    13K Aug 31 16:25 two_short_KOLF2.1.pdf
-rw-r--r--@ 1 pengl7  NIH\Domain Users    83K Aug 31 16:23 two_KOLF2.1.png
-rw-r--r--@ 1 pengl7  NIH\Domain Users    13K Aug 31 16:23 two_KOLF2.1.pdf
-rw-r-----  1 pengl7  NIH\Domain Users    91M Aug 31 11:07 long_Jax_KOLF2C1_variants_cut_merage.vcf
-rw-r-----  1 pengl7  NIH\Domain Users    93M Aug 31 11:07 long_psomagen_KOLF2.1_variants_cut_merage.vcf
-rw-r-----  1 pengl7  NIH\Domain Users    81M Aug 31 11:06 UNHS_GT19-38445_bcfc1_cut_merage.vcf
-rw-r-----  1 pengl7  NIH\Domain Users    84M Aug 31 11:05 Jax_KOLF2-ARID2-A2_bcfc1_cut_merage.vcf

In [2]:
long_jax = pd.read_csv("long_Jax_KOLF2C1_variants_qual", sep="\t", header=None)
long_jax.columns = ["A"]
long_jax.head()

        A
0   46.77
1   35.77
2  120.56
3   21.77
4   34.77

In [31]:
long_jax.describe()

                  A
count  5.669776e+06
mean   5.197463e+02
std    8.506113e+02
min    1.015000e+01
25%    1.587700e+02
50%    4.151800e+02
75%    7.397700e+02
max    2.021020e+05

In [4]:
len(long_jax)

5669776

In [5]:
long_pso = pd.read_csv("long_psomagen_KOLF2.1_variants_qual", sep="\t", header=None)
long_pso.columns = ["A"]
long_pso.head()

       A
0  21.80
1  23.79
2  43.77
3  34.73
4  52.77

In [6]:
ls20 = long_jax[long_jax["A"] < 20]
print('total variants are: ', len(long_pso))
print('varints less than QUAL 20 are: ', len(long_jax[long_jax["A"] < 20]))
print('varints less than QUAL 30 are: ', len(long_jax[long_jax["A"] < 30]))

total variants are:  5778771
varints less than QUAL 20 are:  364384
varints less than QUAL 30 are:  586354

In [21]:
long_pso.describe()

                  A
count  5.778771e+06
mean   4.621966e+02
std    7.966467e+02
min    1.015000e+01
25%    8.477000e+01
50%    3.237800e+02
75%    6.507300e+02
max    1.868480e+05

In [7]:
print('total variants are: ', len(long_pso))
print('varints less than QUAL 20 are: ', len(long_pso[long_pso["A"] <= 20]))
print('varints less than QUAL 30 are: ', len(long_pso[long_pso["A"] <= 30]))

total variants are:  5778771
varints less than QUAL 20 are:  465280
varints less than QUAL 30 are:  747023

In [17]:
short_jax = pd.read_csv("Jax_KOLF2-ARID2-A2_bcfc1_qaul", sep="\t", header=None)
short_jax.columns = ["A"]
short_jax.head()

         A
0   269.12
1   143.53
2   296.56
3   186.05
4  1047.41

In [20]:
short_jax.describe()

                  A
count  5.020825e+06
mean   3.327981e+03
std    5.887562e+03
min    3.000000e+01
25%    1.186910e+03
50%    2.756460e+03
75%    4.907020e+03
max    1.886940e+06

In [23]:
print('total variants are: ', len(short_jax))
print('varints less than QUAL 20 are: ', len(short_jax[short_jax["A"] <= 30]))

total variants are:  5020825
varints less than QUAL 20 are:  1

In [25]:
short_pso = pd.read_csv("UNHS_GT19-38445_bcfc1_qaul", sep="\t", header=None)
short_pso.columns = ["A"]
short_pso.head()

         A
0   289.28
1  2205.76
2  1807.10
3  1801.10
4  1083.72

In [26]:
short_pso.describe()

                  A
count  4.715184e+06
mean   5.797211e+03
std    4.203729e+03
min    3.001000e+01
25%    2.236900e+03
50%    5.030890e+03
75%    8.771960e+03
max    5.425390e+04

In [29]:
print('total variants are: ', len(short_pso))
print('varints less than QUAL 20 are: ', len(short_pso[short_pso["A"] <= 30]))

total variants are:  4715184
varints less than QUAL 20 are:  0